<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.backend.dao.UserMenuDao">

	<update id="delete">
		delete from user_menu
		<where>
			<if test="userId != null">
				and userId = #{userId}
			</if>
			<if test="menuId != null">
				and menuId = #{menuId}
			</if>
		</where>
	</update>
</mapper>